<%= stylesheet_link_tag "form" %>

<body style="background-color: #999999;">
	<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="FvTevYhgnJoIzfgLCmfY6qZBvolW1aDzyG6RSZ2U_4elbKrrS93m0Kk11RisvCD3lilSQn9YeN6RZXaHftV2ow">
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>
			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<span class="login100-form-title p-b-59">
					Sign Up
				</span>
				<%= form_for @user, url: { action: 'create' } do |f| %>
      
					<div class="eu_div">
						<%= f.text_field :username, class: "wrap-input100 validate-input", placeholder: 'Username', autofocus: true, spellcheck:false, autocomplete: false, :required => true %>
						<% @user.errors.full_messages_for(:username).each do |message| %>
							<div><%= message %></div>
						<% end %>
					</div>

					<div class="eu_div">
						<%= f.text_field :email, class: "wrap-input100 validate-input", placeholder: 'Email', autofocus: true, spellcheck:false, autocomplete: false, :required => true %>
						<% @user.errors.full_messages_for(:email).each do |message| %>
							<div><%= message %></div>
						<% end %>
					</div>

					<div class="eu_div">
						<%= f.password_field :password, class: "wrap-input100 validate-input", placeholder: 'Password is required', autofocus: true, spellcheck:false, autocomplete: false, :required => true %>
						<% @user.errors.full_messages_for(:password).each do |message| %>
							<div><%= message %></div>
						<% end %>
					</div>

					<div class="eu_div">
						<%= f.password_field :password_confirmation, class: "wrap-input100 validate-input", placeholder: 'Password must be repeated', autofocus: true, spellcheck:false, autocomplete: false, :required => true %>
						<% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
							<div><%= message %></div>
						<% end %>
					</div>

					<% if flash[:edit_user_error] %>
                        <div class="error_message"><%= flash[:edit_user_error] %></div>
                    <% end %>

					<%= f.submit "Create User", :method => :post, class: "dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30" %>
					<%= link_to 'Back', '/login', class: 'dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30'%>

				<% end %>
			</div>
		</div>
	</div>

	<!--
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<script src="js/main.js"></script> -->
</body>

 




