<% content_for :title, "View Note | AESME" %>
<div class="home" >
  <div class="home_info">
   <%= link_to "Back", collects_path, class: 'btn' %>
    <span> This is the collection: <%= @collect.name %></span>
  </div>
  <% @posts.each do |el| %>
    <% if (current_user.id == el.user_id || current_user.rol == "admin") && el.collect_id == @collect.id %>
      <div class="note">
        <div class="note_content">
          <%if el.has_photo? %>
            <%= image_tag (el.photo_path)%>
          <%end%>
          <span class="note_title"><%= el.title %></span>
          <span class="note_content"><%= el.content %></span>
        </div>
        <div class="note_header common_header">
          <div class="note_h_left">
            <% user = User.find(el.user_id)%>
            <span class="note_username">Note by <%= user.username%></span>
            <span class='note_time'><%= el.created_at %></span>
          </div>
        </div>
        <div class="note_actions">
          <select list="list_colors" id="color" class="btn">
            <datalist id="list_colors">
              <option style="color:#ffffcc"value="#ffffcc">Amarillo</option>
              <option style="color:#ff0000" value="#ff0000">Rojo</option>
              <option style="color:#FF00FF" value="#FF00FF">Rosa</option>
            </datalist>
          </select>
          <script type="text/javascript">
            document.getElementById("color").onchange = function(){
              backRGB = this.value
              document.getElementsByClassName("note")[0].style.background = backRGB
            }
          </script>
          <%= link_to "Edit", edit_post_path(el.id), class: "btn" %> 
          <%=
            link_to "Delete",
            el,
            class: "btn_delete",
            :data => { :confirm => "Are you sure to delete the note? You won't be able to get it back." },
            :method => :delete
          %>
        </div>
      </div>
    <%end%>
  <%end%>
</div>