<% content_for :title, "Notes | AESME" %>

<div class="home">
  <div class="home_info">
     <% n_posts = 0%>
    <% @posts.each do |el| %>
     <% if current_user.id == el.user_id  || current_user.rol == "admin" %>
        <% n_posts = n_posts + 1%>
      <% end %>
    <% end %>
    <span> Hello <%= current_user.username %> You have <%= n_posts %> notes saved!</span>

    <!--<select list="list_collection" id="collections" class="btn" onchange="myFunction()">
      <datalist id="list_collection">
        <% @collects.each do |el|%>
          <% if el.user_id == current_user.id || current_user.rol == "admin"%>
            <option><%= el.name %> </option>
          <%end%>
        <% end %>
      </datalist>
    </select>
    
    <script>
        function myFunction(){
          var e = document.getElementById("collections");
          var strUser = e.value;
          console.log(strUser);
        }
    </script>-->
    <%= link_to "Create Note", new_post_path, class: "btn" %>
  </div>
	<% if flash[:edit_post_error] %>
 	  <div class="error_message"><%= flash[:edit_post_error] %></div>
  <% end %>
	
  <% unless @posts.empty? %>
    <% @posts.each do |el| %>
     
      <% if current_user.id == el.user_id || current_user.rol == "admin" %>
        <div class="note">
          <div class="note_title">
            <span><h3><%= el.title %></h3></span>
          </div>
          <div class="note_content">
            <%if el.img%>
              <%= image_tag (el.img)%>
            <%end%>
            <span><%= el.content %></span>
          </div>
          <div class="note_header common_header">
            <%#= image_tag "ruby-red.png" %>
            <div class="note_h_left">
              <% user = User.find(el.user_id)%>
              <span class="note_username">Note by <%= user.username%></span>
              <span class='note_time'>Last modification: <%= el.created_at %></span>
            </div>
          </div>
          <div class="note_actions">
            <%= link_to "Edit", edit_post_path(el.id ), class: "btn" %>
            <%= link_to "View", post_path(el.id), class: "btn" %>
            <%=
              link_to "Delete",
              el,
              class: "btn_delete",
              :method => :delete,
              :data => { :confirm => "Are you sure to delete the note? You won't be able to get it back." }            
            %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if @posts.empty? %>
    <div class='home_last_mssg'>
      <%#= image_tag "large.jpg" %>
      <span>No notes for you. Go ahead and create one!!</span>
    </div>
  <% end %>

</div>