<% content_for :title, "View Note | AESME" %>

<div class="notes_wrapper">
  <div class="home">

    <div class="note">
      <div class="note_content">
        <span class="note_title"><%= @post.title %></span>
        <span class="note_content"><%= @post.content %></span>
      </div>
      <div class="note_header common_header">
        <%#= image_tag "ruby-red.png" %>
        <div class="note_h_left">
          <span class="note_username">You..</span>
          <span class='note_time'><%= @post.created_at %></span>
        </div>
      </div>
      <div class="note_actions">
        <%= link_to "Edit", edit_post_path(@post.id), class: "btn" %>
        
        <%= link_to "Back", posts_path, class: 'btn' %>
        <%=
          link_to "Delete",
          post_path(@post.id),
          class: "btn_delete",
          :data => { :confirm => "Are you sure??" },
          :method => :delete
        %>
      </div>
    </div>

  </div>
</div>