<% content_for :title, "View Note | AESME" %>
<div class="notes_wrapper">
  <div class="home">

    <div class="note" id=>
      <div class="note_content">
        <%if @post.img%>
          <%= image_tag (@post.img)%>
        <%end%>
        <span class="note_title"><%= @post.title %></span>
        <span class="note_content"><%= @post.content %></span>
      </div>
      <div class="note_header common_header">
        <%#= image_tag "ruby-red.png" %>
        <div class="note_h_left">
          <span class="note_username">You..</span>
          <span class='note_time'><%= @post.created_at %></span>
        </div>
      </div>
      <div class="note_actions">
      <select list="list_colors" id="color" class="btn">
          <datalist id="list_colors">
            <option style="color:#ffffcc"value="#ffffcc">Amarillo</option>
            <option style="color:#ff0000" value="#ff0000">Rojo</option>
            <option style="color:#FF00FF" value="#FF00FF">Rosa</option>
          </datalist>
        </select>
          <script type="text/javascript">
            document.getElementById("color").onchange = function(){
              backRGB = this.value

              document.getElementsByClassName("note")[0].style.background = backRGB
              
            }
            </script>
        <%= link_to "Back", posts_path, class: 'btn' %>
        <%= link_to "Edit", edit_post_path(@post.id), class: "btn" %> 
        <%=
          link_to "Delete",
          posts_path,
          class: "btn_delete",
          :data => { :confirm => "Are you sure to delete the note? You won't be able to get it back." },
          :method => :delete
        %>
      </div>
    </div>

  </div>
</div>